<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>about.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,373},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>earth.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,406},{96,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>feedback.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,551},{66,34}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{63,3},{66,34}}</string>
			<key>sourceSize</key>
			<string>{200,40}</string>
		</dict>
		<key>go.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,422},{93,39}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{52,5},{93,39}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>home.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,516},{36,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,7},{36,34}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>how_to_play.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,373},{106,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,4},{106,32}}</string>
			<key>sourceSize</key>
			<string>{200,40}</string>
		</dict>
		<key>mail.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,551},{55,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{55,45}}</string>
			<key>sourceSize</key>
			<string>{59,47}</string>
		</dict>
		<key>meteorite_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,422},{50,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,53}}</string>
			<key>sourceSize</key>
			<string>{50,53}</string>
		</dict>
		<key>meteorite_fuchsia.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,174},{50,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,53}}</string>
			<key>sourceSize</key>
			<string>{50,53}</string>
		</dict>
		<key>meteorite_lime.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,228},{50,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,53}}</string>
			<key>sourceSize</key>
			<string>{50,53}</string>
		</dict>
		<key>meteorite_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,282},{50,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,53}}</string>
			<key>sourceSize</key>
			<string>{50,53}</string>
		</dict>
		<key>more_game.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,0},{140,34}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,4},{140,34}}</string>
			<key>sourceSize</key>
			<string>{200,40}</string>
		</dict>
		<key>music.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,503},{47,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{47,45}}</string>
			<key>sourceSize</key>
			<string>{51,47}</string>
		</dict>
		<key>next.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,174},{183,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{183,50}}</string>
			<key>sourceSize</key>
			<string>{184,50}</string>
		</dict>
		<key>pause.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,373},{29,48}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{29,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>play.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,427},{182,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,9},{182,182}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>rh.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,35},{337,123}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,34},{337,123}}</string>
			<key>sourceSize</key>
			<string>{400,187}</string>
		</dict>
		<key>rotate_hand.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,174},{252,252}}</string>
			<key>offset</key>
			<string>{3,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,36},{252,252}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>share.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,503},{52,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,47}}</string>
			<key>sourceSize</key>
			<string>{52,47}</string>
		</dict>
		<key>slogan.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{370,173}}</string>
			<key>offset</key>
			<string>{4,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,21},{370,173}}</string>
			<key>sourceSize</key>
			<string>{454,218}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>res.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>res.png</string>
	</dict>
</dict>
</plist>
